html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0" )
    title CSGO - ANIMATION CASE/title 

    link(rel="preconnect" href="https://fonts.googleapis.com" )
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" )

    link(rel="stylesheet" href="/styles/body.css" )
    link(rel="stylesheet" href="/styles/header.css")
    link(rel="stylesheet" href="/styles/case.css")
    link(rel="stylesheet" href="/styles/button.css")
    link(rel="stylesheet" href="/styles/settings.css") 

    script(src="script/app.js" defer /script) 
head 
body 
    header 
        img(src="images/case1.png" alt="" width="100px") 

        h1 CS:GO ANIMATION CASE
    header 

    section.case-container
        article(class="case-container__slot" id="case-slot1") 
        article(class="case-container__slot" id="case-slot2")
        article(class="case-container__slot" id="case-slot3")
        article(class="case-container__slot" id="case-slot4")
        article(class="case-container__slot" id="case-slot5")
        article(class="case-container__slot" id="case-slot6")
        article(class="case-container__slot" id="case-slot7")
        article(class="case-container__slot" id="case-slot8")
        article(class="case-container__slot" id="case-slot9")
    section 

    button.draw-button Losuj/button 

    section.settings
        input(type="range" class="settings__slider" min="0" max="100" value="50" )
        p.settings__value Volume: 50
    section 
    

body 
html 
