* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff
}

body {
    background-color: #111;
}

header > img {
    animation: case 3s ease-out infinite;
}

@keyframes case {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}